/* Button components: .btn, .primary, .secondary, disabled state
   Use native nesting for pseudo-classes and modifiers. */

/* TODO: Style the button components */

button {
    padding: var(--spacing-md);
    background-color: var(--color-accent);
    color: var(--color-text);
    font-family: var(--font-family);
    cursor: pointer;
    box-shadow: 1px 3px 4px rgb(6, 6, 6, .5);

    &:hover {
        background-color: var(--color-text);
    }
}