/* container-type  @container */

.cards { 
    container-type: inline-size;
}

/* .card-image {
    container: image / inline-size;
} */

.card-body {
    container: body / inline-size;
    /* flex: 1;
    min-width: 0; */
}

@container (min-width: 800px) {
    .card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    /* .card-body {
        background-color: blueviolet;
    } */
}

@container (min-width: 900px) {
    .card {
        /* grid-template-columns: repeat(3, 1fr); */
        /* background-color: aqua; */
        width: 800px;

    }

    /* .card-body {
        background-color: lightseagreen;
    } */
}


.demo-card {
    display: flex;
    border: 1px solid var(--color-accent);
    margin: var(--spacing-lg);
}

.demo-card-image {
    width: 200px;
    height: 200px;
    background-color: var(--color-secondary);
    flex: 0 200px;
}

.demo-card-body {
    padding: var(--spacing-md);
    flex: 1;
    min-width: 0;
    min-height: 0;
}